### 1. In the below elements which of them are values or an expression? eg:- values can be
###    integer or string and expressions will be mathematical operators.
###  *
###  "hello" 
###  -87.8
###  -
###  /
###  +
###  6

In [ ]:
# Ans,

"""
  *      : expression i.e Arithmetic operator(multiplication)

"hello"  : values i.e string datatype

-87.8    : values i.e Numeric datatype(float)

  -      : expression i.e Arithmetic operator(subtraction)
  
  /      : expression i.e Arithmetic operator(division)
  
  +      : expression i.e Arithmetic operator(addition)

  6      : values i.e Numeric datatype(int)




"""

### 2. What is the difference between string and variable?

In [ ]:
# Ans,

"""
--> string : 1,Its a datatype.
             2,sequence or collection of one or more character put in a single/double quotes/triple quotes.


--> variable : 1,symbolic name act as reference or pointer to an object.
               2,we assign datatypes i.e lets say string to a variable so that values can be stored and 
                 whenever i need that value i can call the variable.
                 
--> Example :   a -> variable
                values(datatype) --> string
     
     
    a = "priyabrat" --> assigning string to a variable 'a'.



"""

### 3. Describe three different data types.

In [ ]:
# Ans

"""
3 datatypes : 1,Numeric datatype
              2,sequence datatype
              3,set datatype
              
---> Numeric datatype : 1, Numeric datatype has 3 datatypes.( 1,int  2,float 3,complex)
         
         -->1,int datatype     : whole number(not fraction),can be positive, negative ,zero without decimal.
         -->2,float datatype   :real numbers has a decimal place.
         -->3,complex datatype : two parts i.e (Real + Imaginary)parts
                               :eg, 3+5j -- real part:3
                                         -- imaginary part : 5j
                                         -- here 3 & 5 are real numbers.

---> sequence datatype : 1, order collection of datatypes(same & different).
                         2, sequence datatype has 3 datatypes.(1,List 2,string 3,Tuple)
           
           -->1, List datatype : 1,order sequence of items
                                 2,Mutable(i.e can change its contents)
                                 3,defined by '[]' square bracket
                                 4,comma seperated
                                 5,heterogenous(can store multiple datatype)
                                 6,very flexible
                                 7, eg : l = [1,2,3,"priyabrat",{1,"er"}]
           
           -->2, string datatype : 1,order sequence of items
                                   2,collection of one or more character inside single/double/triple quotes.
                                   3,Immutable(cant change its contents)
                                   4, eg : a = "priyabrat parida"
            
            
            -->3, tuple datatype : 1,order sequence of items
                                   2,Immutable
                                   3,defined by parenthesis or round bracket '()'
                                   4,Heterogenous
                                   5,coma seperated
                                   6,tuple : fast access , list : slow access
                                      (Tuple are immuatble so stored in single block of memory as it doesnt require
                                         extra space to store new objects)

---> Set datatype :1,unordered datatype i.e unordered collection of items
                   2,Mutable
                   3,defined by curly braces '{}'
                   4,unique(no duplicates) items
                   5,As unordered so unindexed(cant get elements by index number)




"""

### 4. What is an expression made up of? What do all expressions do?

In [ ]:
# Ans

"""
Expression : 1,python program components to write a logical line of code to get the result
             2,Expression is made up of Identifiers,operators,operand.
               --> 2.1 , Identifier : use for naming purpose for variable,class,method,function
               --> 2.2 , operators :symbols that perform arithmetic or logical computation on operands
               --> 2.3 , operand : object that is operated on
               
        --> Eg, a = 5          # a statement(creating a varible)
                a = a + 105      # an expression
                
                a : variable/identifier
                + : operator
              105 : operand

Expression is evaluted for some result i.e after being interpreted by the Python interpreter               

"""

### 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In [ ]:
# Ans,

"""
statement : statement is used for creating varibals not evaluated for specific result.
          : eg , a = 10

expression : combination of identifier,operator,operand so that it can be evaluted for result after being interpreted by python 
             interpretor.
             
             eg , a = 10 -- > statements
                  a = a + 10 --> expression
                  print(a) --> 20
                  (here 1st statement is initiated then after with the help of expression i.e we add 10 with the operator('+')
                  to varible 'a' which is assigned to a value of 10 in statement) so now  we are supposed to get the new
                  value of 'a' variable.

"""

### 6. After running the following code, what does the variable bacon contain?
###  bacon = 22
###  bacon + 1

In [2]:
bacon = 22
bacon + 1

23

In [3]:
"""
variable bacon coantain 22 i.e bacon = 22
because we didnt assigned result to a variable so it will remain the same.so no new value bacon contain.

"""
print(bacon)

22

### 7. What should the values of the following two terms be?

### 'spam'+'spamspam'
### 'spam'*3

In [4]:
'spam'+'spamspam'

'spamspamspam'

In [5]:
'spam'*3

'spamspamspam'

In [ ]:
""" The following two terms are returning  the same values."""

### 8. Why is eggs a valid variable name while 100 is invalid?

In [ ]:
# Ans

"""
-->while creating a variable name there are some rules/logic we need to follow :-
1,variable name can start with alphabets never with numeric.
2,we can add numeric after starting with alphabets.
3,if we assign to only numeric i.e literal ,it will through syntax error. 
4,no space b/w variable name,we can use underscore(eg, about_us)
5,underscore can be used at starting also but no other special characters(eg, _abc)



"""

### 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [1]:
value = 10

In [2]:
# 1, int()

a = int(value)
print(type(a) , '--' , a)

<class 'int'> -- 10

In [3]:
# 2,float()
x = float(value)
print(type(x) , '--' , x)

<class 'float'> -- 10.0

In [4]:
# 3,str()
y = str(value)
print(type(y) , '--' , y)

<class 'str'> -- 10

In [ ]:
# or

In [9]:
# 1,int()
b = int()
print(type(b),b)

<class 'int'> 0

In [10]:
# 2,float()
c = float()
print(type(c),c)

<class 'float'> 0.0

In [15]:
# 3,str()
d = str()
print(type(d))
d

<class 'str'>

''

### 10. Why does this expression cause an error? How can you fix it?
###  'I have eaten ' + 99 + ' burritos'

In [8]:
# Ans,
"""
--->This expression will through error because we cant concatenate string datatype with int datatype.


---> we can fix it by typecasting the int datatype to string datatype.

"""

'I have eaten ' + str(99) + ' burritos'

'I have eaten 99 burritos'